<% if current_user %>
  <h5><%= link_to "マイページへ戻る", user_path(current_user.id) %></h5>
<% else %>
  <h5><%= link_to "ホームへ戻る", root_path %></h5>
<% end %>

<% @impressions.each do |impression| %>
  <div class="justify-content-md-center">
    <div class="row">
      <div class="btn btn-info mx-auto">
        <h5>
          <%= MySchedule.find_id(impression).date %> &nbsp;
          <%= Spot.find(impression.spot_id).name %>
        </h5>
      </div>
    </div>
    <div class="row">
      <%= render 'shared/impression_image', impression: impression %>
      <div class="col-12 col-md-5 col-lg-5 impression-text mx-auto">
        <div class="mt-3">
          <textarea readonly><%= impression.text %></textarea>
        </div>
        <div class="mt-4">
          <p>投稿者:<%= User.id_name(MySchedule.find_id(impression)) %></p>
          <p>投稿時間：<%= impression.created_at.to_s(:datetime_jp) %></p>
        </div>
      </div>
    </div>
  </div>
  <hr>
<% end %>

<div class="justify-content-md-center">
  <%= paginate @impressions %>
</div>
