<%= form_with model: @choice_spot, url: impressions_path(@choice_spot), method: :post, local: true do |f| %>
  <h3>日付：<%= @gone_date %></h3>
  <h3>観光地名：<%= @spot_name %></h3>
  <div class="field">
    <%= f.label :text, "感想の入力" %>
    <%= f.text_area :text %>
  </div>

  <div class="field">
    <%= "画像のアップロード" %>
  </div>
  <%= f.submit "登録" %>
<% end %>