<div class="container">
  <%= render 'shared/flash' %>
  <div class="text-center">
    <h2><%= current_user.nickname %>さんのマイページ</h2>
  </div>
  
  <div class="row">
    <div class="col-12 col-md-10 col-lg-10 mx-5">
      <%= render "want_spots_list", want_spots: @want_spots %>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 col-md-6 col-lg-6">
      <div class="text-center">
        <h3>旅行予定一覧</h3>
        <p><%= link_to "モデルコースを選択する", model_courses_path, class: "btn btn-success"%></p>
      </div>
      <div class="card border-dark mb-3 overflow-auto mx-auto"style="width:500px; height:400px;">
        <% @gone_false_schedules.each do |dont_gone_schedule| %>
          <%= render "show_course", schedule: dont_gone_schedule %>
          <%= render "plan_course_button", dont_gone_schedule: dont_gone_schedule %>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <div class="text-center m-1 mb-4">
        <h3>完了した旅行一覧</h3>
        <p>&nbsp;</p>
      </div>
      <div class="card border-dark mb-3 overflow-auto mx-auto"style="width:500px; height:400px;">
        <% @gone_true_schedules.each do |gone_schedule| %>
          <%= render 'show_course', schedule: gone_schedule %>
          <div class="px-5">
            <%= link_to "記録の入力", my_travel_course_path(gone_schedule.id), class: "btn btn-secondary"%>
          </div>
          <hr>
        <% end %>
        </div>
      </div>
    </div>  
  </div>
</div>