<h1>マイページ</h1>
<%= @user.email %>

<p><%= link_to "モデルコースを選択する", model_courses_path %></p>

<p><%= link_to "行きたい観光地を選択する", spots_path %></p>
<% @want_spots.each do |spot| %>
  <p><%= spot.name %></p>
<% end %>

<p><%= link_to "予定, 記録一覧", '#' %></p>
<% @my_schedules.each do |schedule| %>
  <p><%= schedule.date %></p>
  <% @my_travel_courses.each do |spot| %>
    <%= @spots.find(spot.spot_id).name %>　→　
  <% end %>
<% end %>