<%= form_with model: @my_schedule, url: my_schedules_path, local: true do |f| %>
  <div class="form-group">
    <%= f.label "旅行日を選択してください", class: 'control-label' %>
    <%= f.date_field :date, class: 'form-control' %>
  </div>
  
  <% @courses_in_area.each do |course| %>
    <% @model_course_routes.where(model_course_id: course.id).each do |course_spot| %>
      <p><%= @spots.find(course_spot.spot_id).name %></p>
    <% end %>
    <%= course.score %>
    <%= f.hidden_field :course_id, value: course.id %>
    <%= f.submit "このコースを選択する" %>
  <% end %>
<% end %>