<div class="text-center">
  <% if current_user %>
    <h5><%= link_to "地域選択画面へ戻る", model_courses_path %></h5>
  <% else %>
    <h5><%= link_to "ホームへ戻る", root_path %></h5>
  <% end %>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 mx-auto">
      <% @courses_in_area.each do |course| %>
        <div class="row">
          <div class="card border-dark mt-4 pb-3" style="width:90%; height:40%;">  
            <% course.course_routes.each do |course_spot| %>
              <button class="btn btn-lg btn-primary mt-2" disabled >
                <%= course_spot.order %>. <%= course_spot.spot.name %>
              </button>
              <%= render 'shared/show_to_next_distance_and_time' %>
            <% end %>
            <div class="mt-3">
              総移動距離： <%= course.distance.round(2) %> km<br>
              総移動時間： <%= course.total_time %> 分<br>
              スコア： <%= course.score.round(4) %> <br>
            </div>
            <div class="mt-3">
              <%= link_to "詳細を見る", course_route_path(course), class: "btn btn-success" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= paginate @courses_in_area %>

