<div class="mx-4">
  <% @courses_in_area.each do |course| %>
    <% @model_routes.course(course.id).each do |course_spot| %>
      <p><%= course_spot.order %>. <%= @spots.id_name(course_spot) %></p>
    <% end %>
    <p>移動距離： <%= course.distance.round(2) %>km</p>
    <p>スコア： <%= course.score.round(2) %> </p>
    <%= link_to "詳細を見る", course_route_path(course), class: "btn btn-success" %>
    <hr>
  <% end %>
</div>

<%= paginate @courses_in_area %>