<%= form_with model: @my_schedule, url: my_schedules_path, local: true do |f| %>
  <div class="form-group">
    <%= f.label "旅行日を選択してください", class: 'control-label' %>
    <%= f.date_field :date, class: 'form-control' %>
  </div>
  
<% @model_courses.each do |model_course| %>
  <%= @courses_in_area[model_course.course_number].each do |order| %>
    <p><%= @spots.find(order).name %></p>
  <% end %>
  <%= model_course.score %>
   <%= f.hidden_field :model_course, value: @courses_in_area[model_course.course_number] %>
  <%= f.submit "このコースを選択する" %>
<% end %>
<% end %>