<div class="container-fluid">
  <% if current_user %>
    <h5><%= link_to "マイページへ戻る", user_path(current_user.id) %></h5>
  <% else %>
    <h5><%= link_to "ホームへ戻る", root_path %></h5>
  <% end %>
  <div class="mx-5">
    <h4>日程： <%= @schedule.date %></h4>
    <% @course.each do |course_spot| %>
      <div class="row m-4">
        <h5><%= course_spot.order %>. <%= course_spot.spot.name %></h5>
        <% if @schedule.gone %>
          <div class="mx-5">
            <%= link_to "感想の入力", new_impression_path(course_spot), class: "btn btn-secondary btn-sm" %>
          </div>
        <% else %>
          <div class="mx-5">
            <%= link_to "コースの修正", edit_my_travel_course_path(course_spot), class: "btn btn-secondary btn-sm" %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <% if course_spot.fill_in_impression %>
          <div class="col-12 col-md-6 col-lg-6">
            <div class="mx-4">
              <textarea readonly><%= Impression.find_by(my_schedule_id: @schedule.id, spot_id: course_spot.spot_id).text %></textarea>
            </div>
          </div>
          <% if Impression.find_by(my_schedule_id: @schedule.id, spot_id: course_spot.spot_id).image.present? %>
            <div class="col-12 col-md-4 col-lg-4">
              <%= image_tag Impression.find_by(my_schedule_id: @schedule.id, spot_id: course_spot.spot_id).image.url, :size => '200x200' %>
            </div>
          <% end %>
        <% end %>
      </div>
      <hr>
    <% end %>
    <% unless @schedule.gone %>
      <div>
        <%= button_to "旅行終了", my_travel_courses_gone_flag_path(@schedule), class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>