<h4>日程： <%= @schedule.date %></h4>
<% @course.each do |spot| %>
  <p>
    <%= spot.order %>. <%= @spots.id_name(spot) %>
    <%= link_to "コースの修正", edit_my_travel_course_path(spot) %>
    <% if @schedule.gone %>
      <%= link_to "感想の入力", new_impression_path(spot) %>
    <% end %>
  </p>
  <% if spot.fill_in_impression %>
    <textarea><%= Impression.find_by(my_schedule_id: @schedule.id, spot_id: spot.spot_id).text %></textarea>
  <% end %>
<% end %>
<%= button_to "旅行終了", my_travel_courses_gone_flag_path(@schedule) %>