<% if current_user %>
  <h5><%= link_to "マイページへ戻る", user_path(current_user.id) %></h5>
<% else %>
  <h5><%= link_to "ホームへ戻る", root_path %></h5>
<% end %>
<div class="text-center">
  <h3>旅行日： <%= @schedule.date %></h3>
  <% @courses.each do |course_spot| %>
    <div class="row justify-content-md-center">
      <div class="col">
        <%= render 'shared/travel_spot_name_and_order', course_spot: course_spot %>
        <% if @schedule.gone %>
          <%= link_to "感想の入力", new_impression_path(course_spot), class: "btn btn-secondary ml-5" %>
        <% else %>
          <%= link_to "コースの修正", edit_my_travel_course_path(course_spot, course_ids: @courses.ids.sort), class: "btn btn-secondary ml-3" %>
        <% end %>
      </div> 
    </div>
    <div class="row justify-content-md-center">
      <% if course_spot.fill_in_impression %>
        <%= render 'shared/impression_image',
          impression: course_spot.my_schedule.impressions.find_by(spot_id: course_spot.spot_id)
        %>
        <div class="col-12 col-sm-12 col-md-12 col-lg-5 mt-5 px-3">
          <textarea readonly><%= course_spot.my_schedule.impressions.find_by(spot_id: course_spot.spot_id).text %></textarea>
        </div>
      <% end %>
      <%= render 'shared/show_to_next_distance_and_time', course_spot: course_spot %>
    </div>
    <hr>
  <% end %>
  <% unless @schedule.gone %>
    <div class="mb-3">
      <%= button_to "旅行終了", my_travel_courses_gone_flag_path(@schedule), class: "btn btn-success" %>
    </div>
  <% end %>
</div>
