<% @course.each do |spot| %>
  <p>
    <%= link_to "コースの修正", edit_my_travel_course_path(spot) %>
    <%= spot.order %>. <%= @spots.id_name(spot) %>
    <% if @schedule.gone %>
      <%= link_to "感想の入力", new_impression_path(spot) %>
    <% else %>
  </p>
<% end %>
<%= button_to "旅行終了", my_travel_courses_gone_flag_path(@schedule) %>