<div class="container">
  <%= render 'shared/flash' %>
  <div class="row">
    <%= form_with model: @my_schedule, url: my_schedules_path, local: true do |f| %>  
      <%= render 'shared/calendar_date', f: f %>
      <% @course_route.each do |course_spot| %>
        <div class="col-12 col-md-6 col-lg-6">
          <div class="card border-dark mb-3">
            <div class="card-body">
            <p><%= course_spot.order %>. <%= @spots.find(course_spot.spot_id).name %></p>
            <p><%= @spots.find(course_spot.spot_id).description %></p>
            </div>
          </div>
        </div>
      <% end %>
      <%= f.hidden_field :course_id, value: params[:id] %>
      <%= f.submit "このコースを選択する" %>
    <% end %>
  </div>
</div>