<nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top mb-2 ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mx-5" id="navbarResponsive">
    <div>
      <%= link_to image_tag("/assets/logo.png", class: "header-icon"), users_path %>
    </div>
    <div class="navbar-nav mr-0"> 
      <%= link_to '観光地一覧', spots_path, class: "navbar-brand nav-item nav-link text-white" %>
      <%= link_to '感想一覧', impressions_path, class: "navbar-brand nav-item nav-link text-white" %>
    </div>
    <% if user_signed_in? %>
      <div class="navbar-nav">        
        <%= link_to 'マイページ', user_path(current_user), class: "navbar-brand nav-item nav-link text-white" %>
      </div>
      <div class="navbar-nav ml-auto">
        <%= link_to 'プロフィール変更', edit_user_registration_path, class: "navbar-brand nav-item nav-link text-white" %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "navbar-brand nav-item nav-link text-white" %>
      </div>
    <% else %>
      <div class="navbar-nav">        
        <%= link_to 'モデルコース', model_courses_path, class: "navbar-brand nav-item nav-link text-white" %>
      </div>
      <div class="navbar-nav ml-auto">
        <%= link_to '新規登録', new_user_registration_path, class: "navbar-brand nav-item nav-link text-white" %>
        <%= link_to 'ログイン', new_user_session_path, class: "navbar-brand nav-item nav-link text-white" %>
      </div>
    <% end %>
  </div>
</nav>