<!DOCTYPE html>
<html>
  <head>
    <title>TravelApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if params["controller"] == "users" && params["action"] == "index" %>
    <body class="top-bgimage container-fluid">
    <% else %>
      <body class="container-fluid">
      <% end %>
      <header>
        <%= render "layouts/header" %>
      </header>
      <%= yield %>
    </body>
  </html>
